<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.q.animequizz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SoloQuestionActivity"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait"/>
        <activity android:name=".SoloAnswerActivity"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait"/>
        <activity android:name=".SoloResultsActivity"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait"/>
        <activity android:name=".DuoQuestionActivity"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait"/>
        <activity android:name=".DuoAnswerActivity"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait"/>
        <activity
            android:name=".DuoResultsActivity"
            android:label="@string/title_activity_duo_results"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait"/>
        <activity android:name=".ChoixModeActivity"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait"/>
        <activity android:name=".CustomListActivity"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait"/>
        <activity android:name=".AddCustomActivity"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait"/>
        <activity android:name=".OptionsActivity"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait"/>
        <activity android:name=".CreditsActivity"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait"></activity>
    </application>

</manifest>